@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/montserrat/variable.css";
@import "@fontsource/poppins/index.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

#country-select .css-x19aeh-control,
#country-select .css-fl6yov-control {
  border: none !important;
  box-shadow: none !important;
  color: white;
  background: #0595f8;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#country-select .css-6j8wv5-Input,
#country-select .css-1pndypt-Input,
#country-select .css-qc6sy-singleValue,
#country-select .css-1gtu0rj-indicatorContainer *,
#country-select .css-tlfecz-indicatorContainer * {
  color: white !important;
}

#country-select .css-14el2xx-placeholder {
  color: rgba(255, 255, 255, 0.8) !important;
}

#country-select .css-1okebmr-indicatorSeparator {
  background: rgb(255, 255, 255) !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
  padding: 4px 8px !important;
}

.ReactFlagsSelect-module_selectValue__152eS,
.ReactFlagsSelect-module_selectBtn__19wW7
  .ReactFlagsSelect-module_selectOption__3pcgW {
  padding: 0px 4px !important;
}

.ReactFlagsSelect-module_selectFlag__2q5gC svg {
  width: 1.2em !important;
  height: 1.2em !important;
}

.dropdown-menu:before {
  float: right;
  content: "";
  border-bottom: 8px solid #0595f880;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  left: 64px;
  top: -10px;
}

.drawer-container {
  --transition-speed: 0.3s;
}

.drawer {
  background: #fff;
  width: 300px;
  height: 100%;
  overflow: auto;
  position: fixed;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform var(--transition-speed) ease;
  z-index: 1000;
}

.drawer.left {
  top: 0;
  left: 0;
  transform: translateX(-105%);
}

.drawer.right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.drawer.top {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(-100%);
  height: 40%;
}

.drawer.bottom {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(100%);
  height: 40%;
}

.drawer-container.in.open .left,
.drawer-container.in.open .right {
  transform: translateX(0);
}

.drawer-container.in.open .top,
.drawer-container.in.open .bottom {
  transform: translateY(0);
}

.backdrop {
  visibility: hidden;
  visibility: visible;
  opacity: 0;
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.3);
  transition: all var(--transition-speed) ease;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  z-index: 0;
}

.open .backdrop {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

.open .backdrop.langdrop {
  opacity: 0;
  z-index: 997;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}
