:root {
  /* #0D0415 */
  --primary: #ffffff;
  --primary-dark: #000000;
  --text-primary: #595959;
  --font-sans: "MontserratVariable", sans-serif;
  --scrollbar-width: 14px;
  --font-size: 14px;
  --line-height: 22px;
}
